.archive{
	@include make-md-column(8);
	@include clearfix();
	display: inline-block;
	margin-bottom: em(30);
	float: left;
	&:hover {
		.archive-txt { color: #000; }
		.archive-txt-title { color: darken($brand-red, 20%); }
		.archive-img img { opacity: 0.7; }
	}
}

.archive-posts {
	margin-bottom: 2rem;
}

.archive-img{
	@include make-md-column(4);
	@media (max-width: $screen-sm-max) {
		display: none;
	}
	padding: 0;
	background-color: #000;
	margin-right: 2em;
	margin-bottom: 3em;
	
	img {
		margin-bottom: 0;
	}
}

.archive-txt{
	color: #555;
}

.archive-txt-meta{
	font-size: 		em(12);
	font-weight: 	100;
}

.archive-txt-title{
	color: $brand-red;
	margin-top: 0;
}

.archive-link-icon{
	font-size: em(30);
	display: inline-block;
	vertical-align: middle;
}

#archive-searchform {
	@media (min-width: $screen-sm-min) {
		width: 50%;
	}
}