#event {
	font-size: 1.2em;
	font-family: 'UniversLight';
	padding-top: 22px;
	
	h1 {
		color: #cc0000;
		margin-bottom: 0.5em;
	}
	
	h3 {
		color: #cc0000;
		font-family: 'UniversLight';
		font-size: 1.1em;
	}
	
	.date {
		font-size: 1.1em;
	}
	
	.location {
		font-size: 1.1em;
	}
	
	.description {
		font-size: 1.0em;
		margin: 2.5em 0;
	}
}