.landing-header {
  position: relative;
  overflow: hidden;
  background-color: $gray-dark;
  @include clearfix();
  
  img {
    float: right;
    width: 100%;
    @media (min-width: $screen-md-min) {
      width: 55%;
    }
  }

  .container {
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
    @media (max-width: $screen-sm-max) {
      width: auto;
    }
  }
  
  .header-content {
    letter-spacing: 0.05em;
    line-height: 1.75;

    float: left;
    padding: 2.5rem 3rem;
    width: 100%;
    color: #fff;
    background-color: transparent;
    @media (min-width: $screen-md-min) {
      position: absolute;
      padding: 0 0 0 1rem;
      max-width: 370px;
      top: 50%;

      @include translate(0, -50%);
    }
    @media (min-width: $screen-md-min) {
      max-width: 375px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 450px;
      padding: 0;
      font-size: 1.5rem;
    }

    h1 {
      font-size: 2.75rem;
      @media (min-width: $screen-lg-min) {
        font-size: 3.75rem;
      }
      margin-top: 0;
    }
  }
}