.red-bg {
	color: #fff;
	background-color: $brand-red;

	a {
		color: #fff;
	}
}

.reynolds-red-bg {
	color: #fff;
	background-color: $brand-reynolds;

	a {
		color: #fff;
	}
}

.orange-bg {
	color: #fff;
	background-color: $brand-orange;

	a {
		color: #fff;
	}
}

.yellow-bg {
	color: #000;
	background-color: $brand-yellow;

	a {
		color: #000;
	}	
}

.green-bg {
	color: #fff;
	background-color: $brand-green;

	a {
		color: #fff;
	}	
}

.blue-bg {
	color: #fff;
	background-color: $brand-blue;

	a {
		color: #fff;
	}
}

.indigo-bg {
	color: #fff;
	background-color: $brand-indigo;

	a {
		color: #fff;
	}
}

.gray-lighter-bg {
	color: #000;
	background-color: #f2f2f2;

	a {
		color: #000;
	}
}

.gray-light-bg {
	color: #000;
	background-color: #ccc;

	a {
		color: #000;
	}	
}

.gray-dark-bg {
	color: #fff;
	background-color: #666;

	a {
		color: #fff;
	}
}

.gray-darker-bg {
	color: #fff;
	background-color: #333;

	a {
		color: #fff;
	}
}
