.cross-section {
	font-family: "Glypha LT W01 55 Roman" !important;
	display: table;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
	margin: 21px 0;
	@media (min-width: $screen-md-min) {
		width: 85%;
	}

	.cross-section-img,
	.cross-section-text {
		@include make-xs-column(12);
		@include make-md-column(6);
		@media (min-width: $screen-sm-min) {
			display: table-cell;
			vertical-align: middle;
			float: none !important;
		}
	}

	.cross-section-img {
		padding: 0;
		overflow: hidden;

		img {		
			margin: 0;
			width: 100%;
			height: 100%;
			@media (min-width: $screen-sm-min) {
				width: initial;
				max-width: none;
			}
		}

		&.img-right {
			img {
				float: right;
			}
		}
	}

	.cross-section-container {
		padding: 1em 2em;
		max-height: 265px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Glypha LT W01 55 Roman";
		margin: 11px 0 22px;
	}

	&:hover .link-text {
		text-decoration: underline;
	}
}

.body-copy + .container > a > .cross-section {
	margin-top: 0;
}