.cross-section {
	font-family: "Glypha LT W01 55 Roman" !important;
	margin-bottom: 20px;
	@include clearfix();
	
	.cross-section-img, .cross-section-text {
		@include make-xs-column(12);
		@include make-sm-column(6);
		
		@media (min-width: $screen-sm-min) {
			display: table-cell;
			vertical-align: middle;
			float: none !important;
		}
	}

	.cross-section-img {
		float: left;
		padding: 0;
		
		img {
			@media (min-width: $screen-sm-min) {
				margin: 25px;
			}
			margin: 0px;
		}
	}
	
	.cross-section-text {
		float: left;
		padding: 1em 3em;
	}
}

.body-copy + .container > a > .cross-section {
	margin-top: 0;
}