.sb-section.widget_ncstate_child_nav ul.menu {
	&  > li a {
		color: $brand-red;
		font-size: 1.3em;
	}
	
	li {
		padding: 0.5em 0;
	}
	
	.sub-menu .sub-menu li {
			margin-left: 1em;
			padding: 0;
	}
}

// This widget is hidden on small (i.e. phone) screens.
// The same content is accessible using the mobile menu.
@media (max-width: $screen-sm-min) {
	.menu-primary-menu-container {
		display: none;
	}
}